* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

#color {
    display: flex;
    height: 100vh;
    background-color: white;
    justify-content: center;
}

#interface {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 30vh;
    width: 40vw;
    align-self: center;
    padding: 1rem;

}

h3 {
    font-size: 7rem;
}

